#pulse {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.719);
  height: 100%;
  width: 100%;
  animation: pulse 10s infinite;

}

#pulse::before, #pulse::after {
  content: '';
  position: absolute;
}

@keyframes pulse {
  0% {
    opacity: .9;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}

button {
  border: 5px solid rgba(0, 0, 0, 0.082);
  background-color: rgba(0, 0, 139, 0.719);
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-family: 'Righteous', cursive;
  transition-duration: 2s;
}

button:hover {
  box-shadow: 0 0 20px 0 rgb(81, 55, 230) inset, 0 0 20px 10px rgb(211, 118, 230);
}