body {
  background-image: url(../../assets/img/space.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}

#header {
  height: 100px;
  background-color: rgb(13, 6, 104);
  padding: 20px;
  height: 120px;
  margin-bottom:20px;
  transform:skewY(20deg);
  font-family: 'Righteous', cursive;
}

#header p {
  font-family: 'Roboto', sans-serif;
}

#backBanner {
  background-image: linear-gradient(45deg, #4d0f80b2, #ff00998e);
	transform: skewY(-20deg);
}

.container {  
  transform:skewY(20deg);
  font-family: 'Montserrat', sans-serif;
}

#form {
  margin: 20px;
}

button {
  border-color:rgb(81, 8, 124);
  background-color: rgba(0, 0, 139, 0.596);
  color: #fff;;
  transition: all 150ms ease-in-out;
  font-family: 'Righteous', cursive;
}

button:hover {
  box-shadow: 0 0 20px 0 rgb(81, 55, 230) inset, 0 0 20px 10px rgb(211, 118, 230);
}

.smallText{
  font-size: small;
}

table{
  border: 10px solid rgb(212, 54, 243);
  box-shadow: 20px 20px 15px rgba(4, 3, 59, 0.863);
  max-width: 50em;
	margin: 0 auto;
  background-color: rgba(14, 14, 87, 0.863);
}

td, th {
  border: 1px dashed rgb(255, 255, 255);
  padding: 9px;
  width:25%;
}


