.ages {
  display: none;
}

body {
  background-image: url(../../assets/img/space.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}

#header {
  height: 100px;
  background-color: rgb(13, 6, 104);
  box-shadow: 0px 0px 30px 10px inset rgba(0, 0, 0, 0.623);
  padding: 20px;
  height: 120px;
  margin-bottom:20px;
  transform:skewY(20deg);
  font-family: 'Righteous', cursive;
}

#header p {
  font-family: 'Roboto', sans-serif;
}

#backBanner {
  background-image: linear-gradient(45deg, #4d0f80b2, #ff00998e);
	transform: skewY(-20deg);
}

.container {  
  transform:skewY(20deg);
  font-family: 'Montserrat', sans-serif;
  
}

#form {
  display:inline-block;
  margin: 20px;

}
#form p {
  text-align: left;
}

input {
  color: white;
  background-color:rgba(66, 18, 155, 0.849);
  width: 100px;
}


.smallText{
  font-size: small;
}

table{
  border: 5px solid rgb(212, 54, 243);
  box-shadow: 20px 20px 15px rgba(4, 3, 59, 0.863), 5px 5px 50px 10px inset rgba(0, 0, 255, 0.781);
  max-width: 50em;
	margin: 0 auto;
  background-color: rgba(14, 14, 87, 0.863);
}


td, th {
  border: 1px dashed rgb(255, 255, 255);
  padding: 9px;
  width:25%;
}

th{
  font-family: 'Righteous', cursive;

}


